In [1]:
#김철수: 85점, 이영희: 92점, 박민수: 78점, 최지연: 96점
import pandas as pd

dict_data = {'김철수':'85점','이영희':'92점','박민수':'78점','최지연':'96점'}
sr = pd.Series(dict_data)
print(sr)

김철수    85점
이영희    92점
박민수    78점
최지연    96점
dtype: object

In [2]:
# 이영희의 점수를 출력하세요
print(sr[1])

92점

<ipython-input-2-0fffb628d7e7>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[1])

In [6]:
## 90점 이상인 학생들을 필터링하세요
high_score = sr[sr>='90점']
print(high_score)

이영희    92점
최지연    96점
dtype: object

In [9]:
## 모든 점수에 5점을 더해보세요
score_plus_5 = sr.str.replace('점',"",regex=False).astype(int)+5
print(score_plus_5)

김철수     90
이영희     97
박민수     83
최지연    101
dtype: int64

In [10]:
# 다음 학생 정보로 DataFrame을 생성하세요
data_set = {'이름':['김철수','이영희','박민수','최지연'],
            '나이':[20,19,21,20],
            '성별':['남','여','남','여'],
            '점수':[85,92,78,96]}
df = pd.DataFrame(data_set)
print(df)

    이름  나이 성별  점수
0  김철수  20  남  85
1  이영희  19  여  92
2  박민수  21  남  78
3  최지연  20  여  96

In [11]:
## 기본 정보를 확인하세요 (info(), describe(), shape)
# 열이름, 데이터 개수, 자료형 등을 알 수 있는 함수
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      4 non-null      object
 1   나이      4 non-null      int64
 2   성별      4 non-null      object
 3   점수      4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [12]:
# 열의 기초통계 요약
df.describe()

              나이         점수
count   4.000000   4.000000
mean   20.000000  87.750000
std     0.816497   7.932003
min    19.000000  78.000000
25%    19.750000  83.250000
50%    20.000000  88.500000
75%    20.250000  93.000000
max    21.000000  96.000000

In [13]:
# 행과 열의 개수를 튜플로 반환
df.shape

(4, 4)

In [26]:
# 다음 학생 정보로 DataFrame을 생성하세요
data_set = {'이름':['김철수','이영희','박민수','최지연'],
            '나이':[20,19,21,20],
            '성별':['남','여','남','여'],
            '점수':[85,92,78,96]}
df = pd.DataFrame(data_set)
## 인덱스 수정
df.index = ['a','b','c','d']
print(df)

    이름  나이 성별  점수
a  김철수  20  남  85
b  이영희  19  여  92
c  박민수  21  남  78
d  최지연  20  여  96

In [27]:
# 첫 2행을 출력하세요
# iloc으로 출력
a = df.iloc[[0,1]]
print(a)

#loc으로 출력
b = df.loc[['a','b']]
print(b)

    이름  나이 성별  점수
a  김철수  20  남  85
b  이영희  19  여  92
    이름  나이 성별  점수
a  김철수  20  남  85
b  이영희  19  여  92

In [30]:
# '점수' 열만 선택해서 출력하세요
c = df['점수']
print(c)

a    85
b    92
c    78
d    96
Name: 점수, dtype: int64

In [32]:
# loc을 사용해서 이영희의 모든 정보를 출력하세요
d = df.loc['b']
print(d)

이름    이영희
나이     19
성별      여
점수     92
Name: b, dtype: object

In [35]:
# iloc을 사용해서 첫 번째와 세 번째 행의 '이름'과 '점수'를 출력하세요
e = df.iloc[[0,1],[0,3]]
print(e)

    이름  점수
a  김철수  85
b  이영희  92

In [39]:
# 나이가 20살인 학생들을 필터링하세요
df[df['나이']==20]

    이름  나이 성별  점수
a  김철수  20  남  85
d  최지연  20  여  96

In [44]:
# 새로운 학생 '정민호(22세, 남, 88점)'를 추가하세요
df.loc['e']=['정민호','22세','남','88']
print(df)

    이름   나이 성별  점수
a  김철수   20  남  85
b  이영희   19  여  92
c  박민수   21  남  78
d  최지연   20  여  96
e  정민호  22세  남  88

In [63]:
## 모든 학생의 점수에 3점을 더하세요
df['점수'] = df['점수'].astype(int)
#print(df)
score_plus_3 = df.iloc[0:5,3]+3
print(score_plus_3)

a    88
b    95
c    81
d    99
e    91
Name: 점수, dtype: int64

In [64]:
# '등급' 열을 추가하세요
df['등급'] = ['A','B','A','B','C']
print(df)

    이름   나이 성별  점수 등급
a  김철수   20  남  85  A
b  이영희   19  여  92  B
c  박민수   21  남  78  A
d  최지연   20  여  96  B
e  정민호  22세  남  88  C

In [66]:
import pandas as pd

# 샘플 데이터 생성
sales_data = {
    '주문번호': ['ORD001', 'ORD002', 'ORD003', 'ORD004', 'ORD005', 'ORD006'],
    '고객명': ['김철수', '이영희', '박민수', '김철수', '최지연', '이영희'],
    '상품명': ['노트북', '마우스', '키보드', '모니터', '노트북', '스피커'],
    '가격': [1200000, 25000, 80000, 300000, 1350000, 120000],
    '수량': [1, 2, 1, 1, 1, 1],
    '주문일': ['2024-01-15', '2024-01-16', '2024-01-16', '2024-01-17', '2024-01-17', '2024-01-18']
}

df_sales = pd.DataFrame(sales_data)

In [74]:
# 총 매출액을 계산하세요 (가격 × 수량)
df_sales['총매출액'] = df_sales['가격'] * df_sales['수량']
print(df_sales)

     주문번호  고객명  상품명       가격  수량         주문일     총매출액
0  ORD001  김철수  노트북  1200000   1  2024-01-15  1200000
1  ORD002  이영희  마우스    25000   2  2024-01-16    50000
2  ORD003  박민수  키보드    80000   1  2024-01-16    80000
3  ORD004  김철수  모니터   300000   1  2024-01-17   300000
4  ORD005  최지연  노트북  1350000   1  2024-01-17  1350000
5  ORD006  이영희  스피커   120000   1  2024-01-18   120000

In [76]:
## 고객별 주문 횟수와 총 구매금액을 구하세요
customer_summary = df_sales.groupby('고객명').agg(
    주문횟수 = ('주문번호','count'),
    총구매금액 = ('총매출액','sum'),
).reset_index()
print(customer_summary)

   고객명  주문횟수    총구매금액
0  김철수     2  1500000
1  박민수     1    80000
2  이영희     2   170000
3  최지연     1  1350000

In [77]:
# 가장 많이 팔린 상품을 찾으세요
product_sales = df_sales.groupby('상품명')['수량'].sum().reset_index()
top_product = product_sales.sort_values(by="수량",ascending=False).head(1)
print(top_product)

   상품명  수량
0  노트북   2

In [80]:
# 일별 매출 현황을 분석하세요
daily_report = df_sales.groupby('주문일')['총매출액'].sum().reset_index()
print(daily_report)

          주문일     총매출액
0  2024-01-15  1200000
1  2024-01-16   130000
2  2024-01-17  1650000
3  2024-01-18   120000

In [81]:
# 10만원 이상 구매한 주문만 필터링하세요
df_sales[df_sales['가격']>=100000]

     주문번호  고객명  상품명       가격  수량         주문일     총매출액
0  ORD001  김철수  노트북  1200000   1  2024-01-15  1200000
3  ORD004  김철수  모니터   300000   1  2024-01-17   300000
4  ORD005  최지연  노트북  1350000   1  2024-01-17  1350000
5  ORD006  이영희  스피커   120000   1  2024-01-18   120000

In [82]:
import numpy as np

# 결측치가 있는 데이터
messy_data = {
    '이름': ['A', 'B', 'C', 'D', 'E'],
    '나이': [25, np.nan, 30, 28, np.nan],
    '점수': [85, 90, np.nan, 95, 88]
}

df_messy = pd.DataFrame(messy_data)

In [83]:
# 결측치가 있는 행과 열을 확인하세요
# 결측치 여부 확인
df_messy.isnull()

      이름     나이     점수
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
4  False   True  False

In [84]:
#열 별 결측치 개수 확인
df_messy.isnull().sum()

이름    0
나이    2
점수    1
dtype: int64

In [86]:
# 나이의 결측치는 평균값으로 채우세요
age_mean = df_messy['나이'].mean()
df_messy['나이'].fillna(age_mean,inplace=True)
print(df_messy)

  이름         나이    점수
0  A  25.000000  85.0
1  B  27.666667  90.0
2  C  30.000000   NaN
3  D  28.000000  95.0
4  E  27.666667  88.0

<ipython-input-86-0f3c4271dbb2>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_messy['나이'].fillna(age_mean,inplace=True)

In [88]:
# 점수의 결측치는 중앙값으로 채우세요
score_mid = df_messy['점수'].median()
df_messy['점수'].fillna(score_mid,inplace=True)
print(df_messy)

  이름         나이    점수
0  A  25.000000  85.0
1  B  27.666667  90.0
2  C  30.000000  89.0
3  D  28.000000  95.0
4  E  27.666667  88.0